.introduce{
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 50px;
    
    &::-webkit-scrollbar {
        width: 4px;/*Gives you width to the scrollbar*/
        border-radius: 2px;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);/*Gives styles to the scrollbar*/
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(97, 94, 94);/*Gives background color to the scrollbar*/
    }
}