
.product{
    height: 100vh;
    background-color: #ffffff;
    overflow-y: scroll;
    padding-bottom: 50px;
    &::-webkit-scrollbar {
        width: 4px;
        border-radius: 2px;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(97, 94, 94);
    }
}
