@import "src/asset/helpers/variable";

.productReview{
    height: 350vh;
    .groupBtn{
        margin-top: 60px;
        margin-left: 5%;
        @media #{$media-phone} {
            width: 90%;
            font-size: 14px;
        }
        .tab1{
            padding: 10px 18px;
            border-top-right-radius:20px ;
            border-bottom: 1px solid #dadada;
            @media #{$media-phone} {
                width: 100%;
                padding: 14px 13px;
                font-size: 14px;
            }
        }
        .tab2{
            padding: 10px 18px;
            border-top-left-radius: 20px;
            @media #{$media-phone} {
                width: 100%;
                padding: 8px 10px;
                font-size: 14px;
            }
        }
    }
    .mainContent{
        height: 600px;
        .items1{
            margin-top: 40px;
        }
        .items{
            position: relative;
            .pre{
                position: absolute;
                top: 140px;
                font-size: 28px;
                left: -18px;
                @media #{$media-phone} {
                    top: 140px;
                    font-size: 22px;
                }
            }
            .next{
                position: absolute;
                top: 140px;
                font-size: 28px;
                right: -16px;
                @media #{$media-phone} {
                    top: 140px;
                    font-size: 22px;
                }
            }
            .titleItem{
                font-size: 20px;
                // font-weight: 600;
                background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .cart{
                width: 100%;
                height: 400px;
                background-color: #ffffff;
                padding-bottom: 20px;
                position: relative;
                border-radius: 7px;
                box-sizing: border-box;
                overflow: hidden;
                @media #{$media-phone} {
                    border-radius: 5px;
                    box-sizing: border-box;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    
                }
                .image{
                    width: 100%;
                    // height: 140px;
                }
                .mainPost{
                    width: 84%;
                    padding: 0px 5%;
                    font-family: "Poppins",sans-serif;
                    .title1{
                        text-align: start;
                        color: #333333;
                        font-size: 26px;
                        font-weight:700;
                        margin: 5 0;
                        background-color: none;
                        text-decoration: underline;
                        @media #{$media-phone} {
                            font-size: 14px;
                        }
                    }
                    .content{
                        padding-left: 5px;
                        text-align: justify;
                        font-size: 12px;
                        margin: 0 0;
                        @media #{$media-phone} {
                            font-size: 13px;
                        }
                    }
                }
            }
            .cart1{
                margin-top: 6px;
                padding: 2px 5%;
                width: 90%;
                background-color: #ffffff;
                text-align: center;
                color: #000;
                border: 1px solid #dadada;
                height: 60px;
                
                .mainPost1{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .icons{
                        height: 70%;
                        width: 30%;
                    }
                }
            }
        }
        
    }
}