

.mainNavigationPhone{
    width:100%;
    height: 800px;
    background-color: #ffffff;
    position: fixed;
    margin-top: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    ul{
        padding: 0;
        li{
            width: 86%;
            padding: 20px 7%;
            border-bottom: 1px solid #dedbdb;
            transition: all 0.5s;
            position: relative;
        }
        .special{
            padding: 10px 10%;
            width: 80%;
            ul{
                padding: 0;
                width: 100%;
                li{
                    width: 100%;
                    padding: 3px 0;
                    font-size: 14px;
                    border-bottom: none;
                    margin-top: 15px;
                    a{
                        color: #333333;
                    }
                    p{
                        margin: 0 0;
                        font-weight: 550;
                    }
                    ul{
                        li{
                            padding: 14px 8px;
                            border-bottom: 1px solid #dadada;
                        }
                    }
                }

            }
        }
    }
}