@import "src/asset/helpers/variable";

.productMain{
    width: 80%;
    padding-left: 10%;
    padding-bottom: 150px;
    @media #{$media-phone} {
        width: 90%;
        padding-left: 5%;
    }
    .titlePage{
        font-size: 28px;
        font-weight: 700;
        text-decoration: underline;
        .title{
            font-size: 30px;
        }
    }
}
.cart{
    margin-top: 40px;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    position: relative;
    border-radius: 7px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 1px 2px 4px #a29d9d;
    @media #{$media-phone} {
        border-radius: 5px;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: column; 
    }
    .image{
        width: 100%;
    }
    .mainPost{
        width: 84%;
        padding: 10px 5%;
        font-family: "Poppins",sans-serif;
        height: 380px;
        @media #{$media-phone} {
            height: auto;
            
        }
        .title1{
            font-family: 'Roboto', sans-serif;
            text-align: start;
            color: #333333;
            font-size: 26px;
            font-weight:700;
            margin: 5 0;
            background-color: none;
            text-decoration: underline;
            @media #{$media-phone} {
                font-size: 14px;
            }
        }
        .content{
            padding-left: 5px;
            text-align: justify;
            font-size: 15px;
            margin: 15px 0;
            @media #{$media-phone} {
                font-size: 13px;
            }
        }
    }
}