.zaloFixed{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    
    position: fixed;
    bottom: 40px;
    left: 20px;
    background-color: rgb(52, 115, 231);
    box-shadow: 1px 2px 4px rgb(36, 77, 154);
    z-index: 100;
    a{
        .imageZalo{
            width: 100%;
            height: 100%;
        }
    }
}