
@import "src/asset/helpers/variable";

.titleCombo{
    margin-top: 80px;
    .title1{
        text-align: center;
        font-weight: 550;
        font-size: 18px;
    }
    .title2{
        text-align: center;
        font-weight: 700;
        font-size: 25px;
    }
}

.coomboPackage{
    background-image: url("https://demo.creativethemes.com/elementor/web-agency/wp-content/uploads/2021/07/decorative-shape.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding-bottom: 100px;
    .mainCombo{
        @media #{$media-phone} {
            flex-direction: column;
            width: 90%;
        }
        .itemCombo{
            width: 30%;
            height: 550px;
            background-color: #ffffff;
            border-radius: 12px;
            box-shadow: 1px 2px 4px #c6c4c4;
            @media #{$media-phone} {
                width:100%;
                margin-top: 20px;
            }
            .feeTitle{
                text-align: center;
                font-size: 20px;
                color:#36d325;
                font-weight: 580;
            }
            .feeMoney{
                text-align: center;
                font-size: 40px;
                color:#333333;
                font-weight: 800;
            }
            .listFeature{
                li{
                    padding: 10px 0;
                    i{
                        color:#36d325;
                    }
                }
            }
        }
    }
    
}