


.mainInstall{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 4px;
        border-radius: 2px;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);/*Gives styles to the scrollbar*/
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(97, 94, 94);/*Gives background color to the scrollbar*/
    }
    .titleInstall{
        margin-top: 120px;
    }
    .stepOne{
        .stepImage{
            width: 40%;
            height: 400px;
        }
    }
}
   