
@import "src/asset/helpers/variable";
.benefit{
    width: 80%;
    padding: 100px 10%;
    .title{
        text-align: center;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            width: max-content;
            border-bottom: 4px solid #0968b6;
        }
       
    }
    .note{
        p{
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            text-align: center;
        }
    }
    .line1{
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        @media #{$media-phone} {
            width: 90%;
            padding: 10px 5%;
            display: flex;
            flex-direction: column;
            margin-top: 0px;
        }
        .item{
            background-color: #f0eded;
            font-family: "Poppins",sans-serif;
            padding: 10px 15px;
            border: 1px solid #cbc9c9;
            border-radius: 3px;
            display: flex;
            width: 30%;
            @media #{$media-phone} {
                width: 100%;
                margin-top: 40px;
            }
            .image{
                font-size: 40px;
                color: #fb5809;
            }
            .maiContent{
                margin-left: 15px;
                color: #2a77ad;
                p{
                    margin: 5px 0;
                    font-size: 14px;
                    @media #{$media-phone} {
                        display: none;
                    }
                }
                .title{
                    margin: 5px 0;
                    font-size: 18px;
                    font-weight: 550;
                    text-align: start;
                }
                @media #{$media-phone} {
                    padding-top: 10px;
                }
               
            }
        }
    }
}
