@import "src/asset/helpers/variable";

.teamMember{
    padding: 80px 0;
    .teamMemberTitle{
        width: 90%;
        padding: 0 5%;
        font-size: 25px;
        font-weight: 600;
        text-align: center;
    }
    .teamMemberDescription{
        width: 90%;
        padding: 0 5%;
        font-size: 18px;
        text-align: center;
        font-family: "Poppins",sans-serif;
    }
    .listMember{
        margin-top: 60px;
        width: 90%;
        padding: 10px 5%;
        @media #{$media-phone} {
            flex-direction: column;
        }
        .member{
            width: 20%;
            background-color: #ffffff;
            height: auto;
            box-shadow: 1px 2px 4px #828080;
            border-radius: 8px;
            padding: 10px 15px;
            position: relative;
            &:hover{
                box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);;
            }
            @media #{$media-phone} {
                width: 80%;
                margin-top: 25px;
            }
            .linkedIn{
                position: absolute;
                right: 0;
                top: -5px;
                color: #1459e3;
                font-size: 40px;
            }
            .imageProfile{
                height: 180px;
                .image{
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    box-sizing: border-box;
                    overflow: hidden;
                    border: 6px solid #9f9faec6;
                }
            }
            .infomationProfile{
                .name{
                    text-align: center;
                    font-size: 18px;
                    font-weight: 600;
                    color: #524f4f;
                    @media #{$media-phone} {
                        margin: 4px 0;
                    }
                }
                .name1{
                    text-align: center;
                    font-size: 15px;
                    font-weight: 600;
                    color: #524f4f;
                }
                .content{
                    padding: 5px 7px;
                    font-weight: none;
                    color: #828080;
                    font-size: 14px;
                    text-align: justify;
                    @media #{$media-phone} {
                        padding: 5px 12px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}