$Loader-color: #fff;
$Loader-size: 14.6rem;
$Loader-offset: 1.7rem;
$Loader-timing: ease-in-out;
.container{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 500;
  background: rgba(220, 139, 139, 0.761);
}
@keyframes pulsA {
  0% { box-shadow: inset 0 0 0 $Loader-offset $Loader-color; opacity: 1; }
  50%, 100% { box-shadow: inset 0 0 0 0 $Loader-color; opacity: 0; }
}

@keyframes pulsB {
  0%, 50% { box-shadow: 0 0 0 0 $Loader-color; opacity: 0; }
  100% { box-shadow: 0 0 0 $Loader-offset $Loader-color; opacity: 1; }
}

.lds_facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds_facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds_facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds_facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds_facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds_facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}
@keyframes lds_facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
