@import "src/asset/helpers/variable";

.footer{
    width: 76%;
    padding: 10px 12%;
    background: rgb(17, 17, 17);
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    @media #{$media-phone} {
        width: 100%;
        padding: unset;
    }
    .mainFooter{
        border-bottom: 1px solid #dadada;
        @media #{$media-phone} {
            @include display-flex;
            flex-direction: column;
        }
        .item{
            width: 33%;
            height: 320px; 
            @media #{$media-phone} {
                width: 90%;
                padding: 0px 5%;
                height: auto;
            }
            .title{
                font-size: 14px;
                @media #{$media-phone} {
                    font-size: 16px;
                }
            }
            .note{
                font-size: 12px;
                color: #bcbaba;
                @media #{$media-phone} {
                    font-size: 15px;
                }
            }
        }
        .item1{
           
            .icon{
                display: flex;
                padding-left: 0;
                margin-left: -8px;
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    background-color: #454444;
                    color: #d3d0d0;
                    border-radius: 4px;
                    margin-left: 8px;
                    font-size: 18px;
                }
            }
        }
    }
    .copyright{
        width: 100%;
        @media #{$media-phone} {
            display: flex;
            flex-direction: column;
        }
        div{
            .shareContent{
                font-weight: 400;
                font-size:13px;
                color: #898686;
            }
        }
        .right{
            @media #{$media-phone} {
                display: flex;
                flex-direction: column;
            }
            p{
                margin-left: 15px;
            }
        }
    }
    .footerLogo{
        width: 20%;
    }
}