@import "src/asset/helpers/variable";

.mainProduct{
    width: 82%;
    padding: 40px 9%;
    height: 100%;
    @media #{$media-phone} {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .left{
        width: 26%;
        padding-right: 3%;
        height: 100%;
        @media #{$media-phone} {
            width: 100%;
            padding:unset;
        }
        .top{
            .title{
                background-color: #7c31ad;
                color: #ffffff;
                padding: 13px 5px ;
                font-size: 14px;
                font-weight: 600;
                border-radius: 4px;
            }
            .name{
                color: #767676;
                font-weight: 400;
                padding-top: 12px;
                padding-bottom: 8px;
                border-bottom: 1px solid #e4e1e1af;
                transition: all 0.4s;
                &:hover{
                    cursor: pointer;
                    background-color: #767676;
                    color: #ffffff;
                }
            }
        }
        .top1{
            margin-top: 20px;
        }
    }
    .right{
        width: 68%;
        height: 100%;
        @media #{$media-phone} {
            width: 100%;
            padding:unset;
        }
        .title{
            background-color: #7c31ad;
            border-radius: 4px;
            color: #ffffff;
            padding: 13px 5px ;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .grid{
            width: 100%;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 270px 270px 270px ;
            grid-row-gap: 20px;
            @media #{$media-phone} {
                display: unset;
            }

            .items{
                .titleDOwn{
                    font-weight: 600;
                    font-size: 16px;
                    color: #333;
                }
                .listvd{
                    li{
                        margin-top: 12px;
                        text-decoration: underline;
                        a{
                            color: #196fcb;
                        }
                    }
                }
            }
            
            .cart{
                width: 260px;
                height: auto;
                background-color: #ffffff;
                padding-bottom: 20px;
                border-radius: 8px;
                box-sizing: border-box;
                overflow: hidden;
                position: relative;

                transition: all 0.3s;
                @media #{$media-phone} {
                    width: 300px;
                    padding-bottom: 0px;
                }
                &:hover{
                    scale: 1.03;
                }
                .image{
                    width: 100%;
                    height: 230px;
                    @media #{$media-phone} {
                        // height: 180px;
                        padding-bottom: 0px;
                    }
                }
                .mainPost{
                    width: 90%;
                    padding: 10px 5%;
                    .title1{
                        font-family: "Popins",sans-serif;
                        color: #333;
                        font-size: 18px;
                        margin: 0 0;
                        font-weight: 550;
                    }
                    .description{
                        font-size: 14px;
                        color: #6a6a6a;
                    }

                }
            }
        
        }
      

    }
}