@import "src/asset/helpers/variable";
.header{
    box-shadow:  1px 1px 2px #3333;
    position: fixed;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 500;
    header{
        font-family:"Open Sans", Helvetica, sans-serif;
        @include display-flex;
        justify-content: center;
        width: 100%;
        @media #{$media-phone} {
            width: 100%;
            padding: unset;
            justify-content: space-between;
        }
        .headerLogo{
            width: 40%;
            font-size: 18px;
            font-weight: bold;
            @include display-flex;
            margin-top: 0px;
            background-size: cover;
            box-sizing: border-box;
            overflow: hidden;
            @media #{$media-phone} {
                width: 70%;
            }
            .image{
                width: 60px;
                height: 60px;
                margin-left: -12%;
                // background-color: #0b0b0b;
                border-radius: 50%;
                box-sizing: border-box;
                overflow: hidden;
                @media #{$media-phone} {
                    width: 50px;
                    height: 50px;
                }
            }
            .info{
                width: 70%;
                font-size: 12px;
                color: #222222;
                margin-left: 10px;
                .name{
                    font-size: 15px;
                    color: #220d9d;
                    @media #{$media-phone} {
                        font-size: 12px;
                    }
                }
                .phone{
                    span{
                        color: #bc3232;
                        
                    }
                }
                p{
                    @media #{$media-phone} {
                        font-size: 10px;
                    }
                    margin: 2px 0;
                }
            }
        }
        .headerOption{
            width: 60%;
            @media #{$media-phone} {
                width: 20%;
            }
            .iconBar{
                width: 100%;
                height: 100%;
                font-size: 24px ;
            }
            ul{
                @include display-flex;
                list-style: none;
                padding-left: 10.5%;
                padding-top: 10px;
                @media #{$media-tablet-horizontal} {
                    padding-left: 5%;
                }
                @media #{$media-tablet-vertical} {
                    padding-left: 0%;
                }
                li{
                    @media #{$media-ipad} {
                        margin: 10px 6px;
                    }
                    @media #{$media-tablet-vertical} {
                        margin: 10px 0px;
                        font-size: 9px;
                    }
                    @media #{$media-tablet-horizontal} {
                        margin: 10px 5px;
                        font-size: 8px;
                    }
                    margin: 10px 15px;
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    font-family: "Poppins",sans-serif;
                    text-transform: uppercase;
                    
                    a{
                        text-decoration: none;
                        color: #222222;
                        span{
                            margin-right: 0px;
                        }
                        display: inline-block;
                        position: relative;
                        &:after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            transform: scaleX(0);
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: #21a3e3;
                            transform-origin: bottom right;
                            transition: transform 0.25s ease-out;
                        }
                        &:hover:after {
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }
                    }
                    
                    .option{
                        display: none;
                        p{
                            padding: 10px 0;
                            margin: 0px;
                        }
                    }
                    .titleProduct{
                        display: none;
                        p{
                            padding: 10px 0;
                            margin: 0px;
                        }
                    }
                }
                .account{
                    position: relative;
                    &:hover{
                        .option{
                            z-index: 100;
                            width: 250px;
                            background-color: #f7f9fa;
                            position: absolute;
                            top: 16px;
                            left: -10px;
                            display: block;
                            p{
                                
                                border-bottom: 1px solid #f7f9fa;
                            }
                        }
                    }
                    .option{
                        p{
                            &:hover{
                                background-color: #ee841a;
                                color: #ffffff;
                            }
                        }
                    }
                }
                .product{
                    position: relative;
                    a{
                        i{
                            font-size: 15px;
                        }
                    }
                    &:hover{
                        .titleProduct{
                            z-index: 100;
                            width: 400px;
                            background-color: #ffffff;
                            position: absolute;
                            top: 16px;
                            left: -10px;
                            display: block;
                            box-shadow: 1px 2px 4px #9e9d9d;
                            p{
                                border-bottom: 1px solid #f7f9fa;
                            }
                            .listItem{
                                display: flex;
                                flex-direction: column;
                                padding-left: 0;

                                li{
                                    margin: 0 0;
                                }
                                p{
                                    padding-left: 20px;
                                    cursor: pointer;
                                }
                                a{
                                    width: 100%;
                                }
                                .lv2{
                                    padding-top: 0;
                                    display: flex;
                                    flex-direction: column;
                                    cursor: pointer;
                                    padding-left: 28px;
                                    .lv2_li{
                                        font-weight: 400;
                                    }
                                    li{
                                        padding: 8px 0;
                                        margin: 0px 0;
                                        border-bottom: 1px solid #dadada;
                                    }
                                }
                            }
                        }
                    }
                    .titleProduct{
                       
                    }
                }
            }
        }
    }
}