
.paperPage{

    height: 180vh;
    background-color: rgb(241, 241, 239);
    overflow-y: scroll;
    margin-top: 40px;
    padding-bottom: 50px;
    // &::-webkit-scrollbar {
    //     width: 4px;/*Gives you width to the scrollbar*/
    //     border-radius: 2px;
    // }
    // &::-webkit-scrollbar-track {
    //     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);/*Gives styles to the scrollbar*/
    // }
    // &::-webkit-scrollbar-thumb {
    //     background-color: rgb(97, 94, 94);/*Gives background color to the scrollbar*/
    // }
    .title{
        background-color: #e8554e;
        color: #ffffff;
        padding:10px 20px  ;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        
    }
    .grid{
        width: 100%;
        display: grid;
        grid-template-rows: 450px;
        grid-template-columns: 47% 47%;
        grid-gap: 6%;
        height: fit-content;
        margin-top: 30px;
        .cart{
            width: 100%;
            height: auto;
            background-color: #ffffff;
            padding-bottom: 20px;
            position: relative;
            .image{
                width: 100%;
                height: 270px;
            }
            .mainPost{
                width: 90%;
                padding: 10px 5%;
                .title1{
                    color: #286ebd;
                    font-size: 20px;
                    margin: 0 0;
                    font-weight: 550;
                    background-color: none;
                    
                }
                .postMeta{
                    font-size: 12px;
                    color: #bbbbbb;
                    span{
                        color: #767676;
                        i{
                            font-weight: 500;
                            margin-left: 5px;
                        }
                    }
                }
                .description{
                    font-size: 14px;
                    color: #6a6a6a;
                }
                .bottom{
                    display: flex;
                    justify-content: flex-end;
                    .read{
                        font-family: "Open Sans", Helvetica, sans-serif;;
                        font-weight: 400;
                        padding: 8px 15px;
                        font-size: 12px;
                        color: #fff;
                       
                        background-color: #5cb85c;
                        border-color: #255625;
                        border-radius: 3px;
                        i{
                            margin-right: 5px;
                        }
                    }
                }
              
            }
        }
    
    }
}
