@import "src/asset/helpers/variable";

.mySwiperProduct{
    position: relative;
    .swiper-wrapper{
        width: 320px;
        margin: unset;
        .swiper-slide{
            width: 100%;
            padding: 0px 0%;
        }
    }
   
}
.mySwiperTest{
    @media #{$media-phone} {
        margin-top: 25px;
    }
    .swiper-wrapper{
        .swiper-slide{

        }
    }
}

.mySwiper{
    .swiper-slide{
        min-height: 400px;
    }
}