@import "src/asset/helpers/variable";
.sendMessage{
    width: 80%;
    padding: 0px 10%;
    .nav{
        width: calc(100% - 15px);
        height: 100x;
        color: #fff;
        background: #e8554e;
        padding-left: 15px;
        h2{
            font-size: 22px;
            font-weight: 400;
            padding: 10px;
        }
    }
    .mainSend{
        width: 100%;
        padding-bottom: 80px;
        @media #{$media-phone} {
            @include display-flex;
            flex-direction: column;
            padding: unset;
        }
        .info{
            color: #424ddc;
            height: 400px;
            margin-right: 10%;
            @media #{$media-phone} {
                width:90%;
                padding: 10px 5%;
                margin-right: 0;
                height: 320px;
            }
            p{
                font-weight: 600;
                i{
                    color: #333;
                }
            }
            .listIc{
                display: flex;
                margin-top: 60px;
                .icon{
                    margin-left: 10px;
                    color: #333;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #a1a0a1;
                    @media #{$media-phone} {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
        .form{
            width: 100%;
            @media #{$media-phone} {
                width:100%
            }
            .formField{
                width: 100%;
                margin-top: 10px;
                input,textarea{
                    border: 1px solid #a1a0a1;
                    padding: 16px 15px;
                    background-color: #ffffff;
                    width: 90%;
                }
                textarea{
                    height: 150px;
                }
            }
            .formField1{
                margin-top: 10px;
                line-height: 22px;
                cursor: pointer;
                font-weight: 400 !important;
                strong{
                    font-weight: 700;
                    color: #424ddc;
                }
            }
            .buttonForm{
                margin-top: 10px;
                display: flex;
                justify-content: flex-end;
                padding-right: 5%;
                button{
                    color: #fff ;
                    background-color: #e8554e;
                    padding: 10px 16px;
                    font-size: 16px;
                    border-radius: 3px;
                    &:hover{
                        color: #fff ;
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}