


.overview{
    font-family: 'Arimo', sans-serif;
    .title{
        font-size: 28px;
        font-weight: 800;
        color: rgb(35, 92, 208);
    }
    .mainOverView{
        .static{
            .staticItems{
                margin-top: 40px;
                .item{
                    width: 160px;
                    height: 60px;
                    .image{
                        width: 60px;
                        height: 100%;
                        font-size: 40px;
                        color: rgb(31, 135, 135);
                    }
                    .infomation{
                        p{
                            margin: 4px 0;
                        }
                        .title{
                            color: rgb(31, 135, 34);
                            font-size: 22px;
                        }
                        .amount{
                            color: rgb(12, 72, 145);
                            font-size: 30px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        
    }
    

}