

.cart{
    display: flex;
    flex-direction: column;
    .titleCart{
        font-size: 30px;
        font-family: "Roboto",sans-serif;
        font-weight: 500;
    }
    .cartMain{
        width: 100%;
      
        .table{
            .table_1{
                border: none;
                thead{
                    th{
                        background-color: azure;
                        border-bottom: 1px solid #dadada;
                    }
                   
                }
            }
        }
        .payment{
            padding: 10px 25px;
            background-color: #e426a5;
            color: #ffffff;
            font-size: 16px;
            font-weight: 550;
            margin-top: 20px;
            border-radius: 6px;
        }
       
    }
}
  
  table, th, td {
    // border: solid 1px #000;
    padding: 10px;
  }
  
  table {
      border-collapse:collapse;
      caption-side:bottom;
  }
  
  caption {
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
  }