@import "src/asset/helpers/variable";
$transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);




.service{
    padding: 80px 0;
    width: 100%;
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        h2{
            text-align: center;
            // font-size: 35px;
            border-bottom: 4px solid #0968b6;
            width: max-content;
        }
        
    }
    .note{
        p{
            font-size: 20px;
            line-height: 30px;
            // font-weight: 550;
            text-align: center;
        }
        @media #{$media-phone} {
            width: 90%;
            padding: 10px 5%;
        }
    }
}
.items{
    width: 80%;
    padding: 10px 10%;
    display: inline-flex;
    justify-content: space-between;
    @media #{$media-phone} {
        width: 90%;
        padding: 10px 5%;
        display: flex;
        flex-direction: column;
    }
    .listItem{
        width: 400px;
        border-radius: 5px;
        height: auto;
        padding-bottom: 20px;
        position: relative;
        transition: all 1s;
        @media #{$media-phone} {
            width: 90%;
            padding: 10px 5%;
            display: flex;
            flex-direction: column;
        }
      
        .item{     
            color: #ffffff;
            width: 70%;
            height: auto;
            padding: 20px 30px;
            transition: all 0.4s;
            &:after {
                transition: opacity $transition;
                pointer-events: none;
                opacity: 0;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 900px;
                display: block;
                background: linear-gradient(rgba(white, 0) 20%, rgba(white, 0.8));
            }
            @media #{$media-phone} {
                width: 90%;
                padding: 10px 5%;
            }
            .imageIC{
                width: 140px;
                height: 140px;
                border-radius: 50%;
                border: 8px solid white;
                box-sizing: border-box;
                overflow: hidden;
                margin-left: calc((100% - 140px)/2);
            }
            .titleItem{
                color: rgb(243, 238, 238);
                text-align: center;
                font-size: 21px;
                font-weight: bold;
                
                
            }
            .content{
                text-align: justify;
                font-size: 15px;
               font-style: inherit;
            }

            .btnShow{
                &:hover{cursor: pointer;}
            }
        }
        .bg1{
            background-color: rgb(180, 161, 16);
            border-radius: 15px;
        }
        .bg2{
            background-color: rgb(169, 22, 157);
            border-radius: 15px;
        }
        .bg3{
            background-color:rgb(201, 83, 10);
            border-radius: 15px;
        }
        .bg4{
            background-color: rgb(231, 16, 16);
            border-radius: 15px;
        }
    }
}

.viewPdf{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: #45424247;
}