@import "src/asset/helpers/variable";
.loginContainer{
  width: 100%;
  height: 100vh;
  @include display-flex;
  .background{
    z-index: -1;
    .bgLogin{
      z-index: -1;
    }
  }
  .loginMain{
    width: 100%;
    @include display-flex;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    @media #{$media-phone} {
        display: unset;
    }
    .img{
      width: 40%;
      border-radius: 10px;
      @media #{$media-phone} {
        display: none;
      }
      .headerLogin{
        height: 100px;
        padding: 10px 0%;
        .logo{
          width: 60px;
          height: 60px;
          border-radius: 50%;
          box-sizing: border-box;
          overflow: hidden;
          background-size: contain;
        }
        .title{
          font-size: 18px;
          .phone{
            span{
                  color: #bc3232;
              }
          }
          p{
            margin:6px 7px ;
          }
        }
      }
      .roundMap{
        width: 100%;
        height:600px;
        margin-top: 180px;
        padding-left: 80px;
        .engineer{
          height:100%;
        }
        .round{
          width: 100%;
          height: 100%;
          .purpose{
            width:90%;
            padding:12px 10px;
            border-radius: 20px;
            color:#ffffff;
            .number{
              width:55px;
              height: 55px;
              border-radius: 50%;
              background-color: #ff6e7f;
              font-weight: 600;
              font-size: 25px;
            }
            .name{
              font-size: 24px;
              margin-left: 15px;
            }
          }
          .purpose1{
            background: #2193b0;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
            margin-left: 70px; 
          }
          .purpose2{
            background: #ff6e7f;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
            margin-top: 40px;
            margin-left: 50px; 
          }
          .purpose3{
            background: #314755;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
            margin-top: 40px;
          }

        }
      }
      // padding: 10px;
      
      .logoImage{
        margin-top: 50px;
        background-size: contain;
        height: 50%;
        width: 100%;
        
      }
    }
    .content{
      width: 45%;
      @media #{$media-phone} {
        width: 100%;
      }
    }
  }
}