.mainIntroduce{
    width: 80%;
    padding: 70px 10%;
    background-image: url("https://demo.creativethemes.com/elementor/web-agency/wp-content/uploads/2021/07/decorative-shape-2.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    .title{
        color: #404040;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1 !important;
        padding: 10px 0;
    } 
    .thank{
        font-weight: 650;
        font-size: 16px;
    }
    p{
        font-weight: 400;
        font-size: 15px;
    }
}