@import "src/asset/helpers/variable";
.navbar{
  width: 90%;
  height: 100%;
  background: white;
  color: #333;
  padding: 0 5%;
  box-shadow: 1px 4px 4px #828080;
  .action{
    @include display-flex;
    height: 100%;
    .item{
      position: relative;
      height: 100%;
      padding: 0 10px;
      &:hover{
        cursor: pointer;
      }
      .option{
        position: absolute;
        // box-shadow: 1px 1px 1px 1px #333;
        top: 57px;
        right: -60px;
        background: #fdfcfc;
        box-shadow: 1px 2px 1px #DADADA;
        font-family: "Poppins", sans-serif;
        visibility: hidden;
        width: 150px;
        font-size: 12px;
        &:hover{
          visibility: visible;
        }
        .select{
          padding: 6px 10px;
          text-align: start;
          border-bottom: 1px solid #1f1f1f;
        }
      }
      i{
        margin-top: 25px;
        margin-right: 7px;
      }
      .listNotification{
        scroll-behavior: smooth;
        overflow-y: 'scroll';
        overflow-x: hidden;
        position: absolute;
        top: 60px;
        background: #f6f3f3;
        width: 320px;
        height: 450px;
        right: 10px;
        border-radius: 8px;
        border: 0.5px solid #737373;
        &::-webkit-scrollbar {
          width: 4px;/*Gives you width to the scrollbar*/
          border-radius: 2px;
          }
        &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);/*Gives styles to the scrollbar*/
        }
        &::-webkit-scrollbar-thumb {
        background-color: rgb(97, 94, 94);/*Gives background color to the scrollbar*/
        outline: 1px solid blue;
        }
      }
    }
    .account{
      &:hover{
        .option{
          visibility: visible;
        }
      }
    }
  }
  .search{
    width: 350px;
    height: 60px;
    border-radius: 4px;
    position: relative;
    padding: 4px 2px;
    margin-left: -40px;
  }
}
.line{
  width: 700px;
  font-size: 26px;
  font-family: "Poppins",sans-serif;
}