
.paperTrending{
    width: 400px;
    height: 180vh;
    // margin-left: 50px;
    .title{
        font-family: "Open Sans", Helvetica, sans-serif;
        color: #404040;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1 !important;
        padding: 10px 0;
    }
    .titleMt{
        margin-top: 20px;
    }
    .tagPopular{
        .line{
            p{
                margin: 6px 6px;
                padding: 10px 15px;
                background-color: #e8554e;
                color: #fff;
                display: inline-block;
                font-size: 13px;
                text-decoration: none;
                border-radius: 0.25rem;
                margin-left: 6px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        
    }
    .listBtn{
        display: flex;
        justify-content: start;
        align-items: center;
        button{
            color: #615f5f;
            border-radius: 4px 4px 0 0;
            border: 0 !important;
            background-color: #c9c7c7;
            width: 100%;
            font-size: 13px;
            padding: 0;
            padding: 10px;
            text-align: center;
            cursor: pointer;
            margin-left: 5px;
        }
    }
    .listItem{
        background-color: #ffffff;
        padding: 0px 0px;
        width: 99%;
        // padding-left: 2%;
        margin-left: 1%;
        margin-top: 30px;
        .cartIT{
            // padding-left: 10px;
            margin-top: 10px;
            .img{
                width: 32.5%;
                height: 70px;
            }
            .info{
                padding-left: 12px;
                width: 63.5%;
                p{
                    color: #337ab7;
                    font-size: 14px;
                    font-weight: 500;
                }
                .postMeta{
                    font-size: 12px;
                   
                    span{
                        color: #767676;
                        i{
                            font-weight: 500;
                            margin-left: 5px;
                        }
                    }
                }
            }
           
        }
    }
}