

.preview{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(60, 59, 59, 0.549);
    z-index: 1000;
    .close{
        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 1200;
        background-color: rgb(186, 187, 189);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(20, 20, 20);
    }
    .mainPreview{
        width: 70%;
        height: 70vh;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}