@import "src/asset/helpers/variable";
.postNew{
    padding: 80px 0;
    width: 100%;
    .title{
        p{
            font-weight: 400;
            text-align: center;
            font-size: 35px;
        }
        h1{
            text-align: center;
        }

        
    }
    .posts{
        width: 84%;
        padding: 10px 8%;
        position: relative;
        @media #{$media-phone} {
            width: 94%;
            padding: 10px 3%;
        }
        .previous{
            position: absolute;
            top:200px;
            font-size: 26px;
            left: 80px;
        }
        .next{
            position: absolute;
            font-size: 26px;
            top:200px;
            right: 80px;
        }
        .posted{
            width: 380px;
            height: auto;
            background-color: #ffffff;
            padding-bottom: 20px;
            position: relative;
            border-radius: 10px ;
            box-sizing: border-box;
            overflow: hidden;
            &:hover{
                cursor: pointer;
            }
            .tools{
                top: 0;
                left: 0;
                position: absolute;
                text-align: center;
                width: 12%;
                padding: 10px 20px;
                font-size: 10px;
                background-color: #286ebd;
                color: #ffffff;
            }
            .image{
                width: 100%;
                height: 226px;  
            }
            .mainPost{
                width: 90%;
                padding: 10px 5%;
                
                .title{
                    color: #dec614;
                    font-size: 20px;
                    margin: 0 0;
                    font-weight: 650;
                }
                .description{
                    font-family: "Poppins",sans-serif;
                    color: #535050;
                    font-size: 14px;
                    text-align: justify;
                }
                .read{
                    padding: 10px 15px;
                    font-size: 14px;
                    color: #ffffff;
                    background-color: #286ebd;
                    border-radius: 4px;
                    letter-spacing: 1.5px ;
                }
            }
        }
    }
}